<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/register" method="post">
    <label for="exampleInputEmail1">USER NAME</label>
    <input name="username" type="text" ><br><br>
    <label for="exampleInputEmail1">Email</label>
    <input name="email" type="text" ><br><br>
    <label for="exampleInputEmail1">DISCRIPTION</label>
    <input name="discription" type="text" ><br><br>
    <label for="exampleInputEmail1">PASSWORD</label>
    <input name="password" type="password" ><br><br>
    <BUtton type="submit">SUBMIT</BUtton>
  </form> <br><br><hr>
  <form action="/login" method="post">
    <label for="exampleInputEmail1">USER NAME</label>
    <input name="username" type="text" ><br><br>
    <label for="exampleInputEmail1">PASSWORD</label>
    <input name="password" type="password" ><br><br>
    <BUtton type="submit">SUBMIT</BUtton>
  </form> <br><br><hr>
</body>
</html>
